# Copy this file to .env and fill in your values
VITE_FIREBASE_API_KEY=AIzaSyDvKLuBypatR1aCtQoU4fwQsQIwXFupX8E
VITE_FIREBASE_AUTH_DOMAIN=ai-task-manager-99cbd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-task-manager-99cbd
VITE_FIREBASE_STORAGE_BUCKET=ai-task-manager-99cbd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=978078593854
VITE_FIREBASE_APP_ID=1:978078593854:web:253fda7cb954317d54726f
VITE_API_URL=http://localhost:5000/api
